{
  "env": {
    "NOTION_API_KEY": "{{ env "NOTION_API_KEY" }}",
    "CLAUDE_CODE_EFFORT_LEVEL": "max"
  },
  "statusLine": {
    "type": "command",
    "command": "bash {{ .chezmoi.homeDir }}/.claude/statusline-command.sh"
  },
  "enabledPlugins": {
    "frontend-design@claude-plugins-official": true,
    "rust-analyzer-lsp@claude-plugins-official": true,
    "codex@openai-codex": true
  },
  "extraKnownMarketplaces": {
    "openai-codex": {
      "source": {
        "source": "github",
        "repo": "openai/codex-plugin-cc"
      }
    }
  },
  "effortLevel": "max",
  "skipDangerousModePermissionPrompt": true,
  "theme": "dark-daltonized",
  "editorMode": "vim",
  "verbose": true,
  "agentPushNotifEnabled": true,
  "tui": "fullscreen",
  "permissions": {
    "defaultMode": "bypassPermissions"
  }
}
